input[type="checkbox"], button, label {
    cursor: pointer;
}
button[disabled] {
    cursor: default;
}
#bgcolor-container {
    padding: 12px;
    border-radius: 3px;
    position: relative;
}
#fold-buttons {
    text-align: right;
    margin: 0px 0px 9px 0px;
}
#fold-buttons fold-button {
    text-align: left;
}
#console {
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}
#console .cmd {
    width: 95%;
    width: -webkit-calc(100% - 2em);
    width: -moz-calc(100% - 2em);
    width: -ms-calc(100% - 2em);
    width: calc(100% - 2em);
    font-family: monospace;
    border: 1px inset transparent;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
#console .cmd:focus {
    border: 1px inset black;
    background-color: white;
    cursor: text;
    color: black;
}
#console .cmd[x-hide] {
    display: none;
}
#two-columns-wrapper {
    display: -webkit-flex;
    display: flex;
}
#first-column {
    margin: 0px 6px;

    -webkit-order: 2;
    order: 2;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}
#second-column {
    -webkit-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}
#controller {
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    padding: 9px;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #000;
    border: 1px solid #666;
    box-sizing: border-box;
}
#controller > section {
    margin: 6px;
}
#controller h3 {
    margin: 6px;
}
#controller ul {
    margin: 3px;
}
#selection, #operation {
    float: left;
    padding: 0px 10px;
}
#nogrids-wrapper { clear: both; }
#download > p {
    margin: 10px 0px;
    white-space: nowrap;
}
#share-link {
    width: 180px;
}
#selection > ul, #operation > ul {
    list-style-type: none;
    padding: 0px;
}
#selection .or-ctrl-click {
    display: inline-block;
}
ansi-color-palette {
    mergin: 5px auto;
}
#canvas {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
}
#samples li {
    margin: 3px 0px;
}
#settings {
    position: absolute;
    background-color: rgba(247, 255, 255, 0.95);
    top: 81px;
    left: 10%; right: 10%;
    padding: 27px;
    box-shadow: 6px 6px 0px #000;
    border-radius: 3px;
    border: 2px solid #333;
    box-sizing: border-box;
}
#settings > h2 {
    margin-top: 0px;
}
th {
    font-weight: normal;
    text-align: right;
}
.flex-wrapper {
    display: flex;
    align-items: center;
}
.flex-wrapper > span, .flex-wrapper > input{
    display: flex-item;
}
