body {
  background-image: url("bg.png");
}
header, footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ddd;
  padding: 12px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 3px;
  margin: 12px 0px;
}
h1 {
  font-weight: normal;
}
header > p, footer > p {
  font-size: 80%;
}
